# OSX
.DS_Store

# Local .terraform directories
**/.terraform/*

# built terraform lambdas
infra/*.zip

# .tfstate files
*.tfstate
*.tfstate.*

# log files
**/*.log

# direnv
.envrc

# private terraform config
/infra/backend.tf
