<footer class="footer">
  <section class="container">
    {{ with .Site.Params.footercontent | safeHTML }}
      <p>{{.}}</p>
    {{ end }}
    {{ if not .Site.Params.hideCopyright }}
      Copyright ©
      {{ with .Site.Params.since }}
        {{ if lt . now.Year }}{{ . }} - {{ end }}{{ now.Year }}
      {{ else }}
        {{ now.Year }}
      {{ end }}
      {{ if .Site.Params.Author }} {{ .Site.Params.Author }} {{ end }}
    {{ end }}
    {{ if .Site.Params.commit }}
      {{ if .GitInfo }}
        [<a href="{{ .Site.Params.commit }}/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>]
      {{ end }}
    {{ end }}
  </section>
</footer>
